<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
         xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp uap3 iot rescap">
  <Identity Name="36186RuoFan.SmartLens" Publisher="CN=4FF1CB23-04BD-4F9C-A86A-B4A43196FE02" Version="5.4.2.0" />
  <mp:PhoneIdentity PhoneProductId="bd7f8172-611e-4a32-94c6-0ccf1c34d913" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SmartLens</DisplayName>
    <PublisherDisplayName>Ruo_Fan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SmartLens.App">
      <uap:VisualElements DisplayName="SmartLens" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="SmartLens" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="deepSkyBlue" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="MediaProcessingBackgroundTask.MediaProcessingTask">
          <BackgroundTasks>
            <uap:Task Type="mediaProcessing"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="UpdateBackgroundTask.UpdateTask">
          <BackgroundTasks>
            <Task Type="general"/>
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.autoPlayContent">
          <uap:AutoPlayContent>
            <uap:LaunchAction Verb="USBArrival" ActionDisplayName="USB管理" ContentEvent="StorageOnArrival"/>
          </uap:AutoPlayContent>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="broadFileSystemAccess" />
    <iot:Capability Name="systemManagement" />
    <uap:Capability Name="removableStorage" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <Capability Name="internetClientServer"/>
    <DeviceCapability Name="removableStorage" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="radios" />
    <DeviceCapability Name="wiFiControl" />
    <DeviceCapability Name="pointOfService"/>
  </Capabilities>
</Package>