<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" IgnorableNamespaces="uap mp uap3 iot">
  <Identity Name="428cf39b-0a14-4a17-b3db-521ad0abb62e" Publisher="CN=123" Version="4.4.5.0" />
  <mp:PhoneIdentity PhoneProductId="428cf39b-0a14-4a17-b3db-521ad0abb62e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SmartLens</DisplayName>
    <PublisherDisplayName>若凡</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SmartLens.App">
      <uap:VisualElements DisplayName="SmartLens" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="SmartLens" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="deepSkyBlue" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="txt">
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.mkv</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.docx</uap:FileType>
              <uap:FileType>.sle</uap:FileType>
              <uap:FileType>.xlsx</uap:FileType>
              <uap:FileType>.pptx</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.pdf</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
              <uap:FileType>.avi</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
              <uap:FileType>.alac</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="MediaProcessingBackgroundTask.MediaProcessingTask">
          <BackgroundTasks>
            <uap:Task Type="mediaProcessing"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <iot:Capability Name="systemManagement" />
    <uap:Capability Name="removableStorage" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <Capability Name="internetClient"/>
    <DeviceCapability Name="removableStorage" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="radios" />
    <DeviceCapability Name="wiFiControl" />
    <DeviceCapability Name="bluetooth.rfcomm">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>